<style>

.sp {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}



.space8{
	margin-top:85px;
	margin-left:75px;
	margin-right:75px;
}
.space9{
	margin-top:2px;
}


@media (max-width: 650px){
	.space7{

		width: 100%;
		margin-top: 10%;
		margin-bottom: 10%;
		padding-left: 20%;
	}
	.sp1{
		width:50%;
	}
	.space8{
		width:50%;
	}
} 
</style>

<!-- <section> -->
	<div class="card bg-light space7 ">
		<section >
			<div class="row sp sp1">
				<!-- <section> -->
					<div class="col-lg-2 col-md-2 col-sm-2">
						<%#= image_tag(BusinessGrowth.last.image, style: 'width:30%')%>
						<img alt="Assets" src="/assets/circle1.png", style:width:10px; >
						
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2">
						<%#= image_tag(BusinessGrowth.last.image, style: 'width:20%')%>
						<img alt="Assets" src="/assets/codelab1.png", style: width:10px >
						<!-- <h4>CodeLab</h4> -->
					</div>
			
					<div class="col-lg-2 col-md-2 col-sm-2">
						<%#= image_tag(BusinessGrowth.last.image, style: 'width:30%')%>
						<img alt="Assets" src="/assets/ideaa1.png", style: width:10px >
						<!-- <h4>ideaa</h4> -->
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2">
						<%#= image_tag(BusinessGrowth.last.image, style: 'width:30%')%>
						<img alt="Assets" src="/assets/hexa1.png", style: width:10 >
						<!-- <h4>hexa</h4> -->
					</div>
				
				
					<div class="col-lg-2 col-md-2 col-sm-2">
						<%#= image_tag(BusinessGrowth.last.image, style: 'width:30%')%>
						<img alt="Assets" src="/assets/muzica1.png", style: width:10px >
						<!-- <h4>muzica</h4> -->
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2">
						<%#= image_tag(BusinessGrowth.last.image, style: 'width:30%')%>
						<img alt="Assets" src="/assets/light.png", style: width:10px >
						<!-- <h4>LightAI</h4> -->
					</div>	
				<!-- </section> -->
			</div>
		</section>
	</div>
<!-- </section> -->



<div class="container space8">
	<div class="row space9">
		<div class="col-lg-3  ">
			<h5><%= sanitize Service.last.title %></h5>
		</div>
			<div class="col-lg-3" >
					<h6>Discovery and Design</h6>
					<p><%= sanitize Service.last.title %></p>
			</div>
			<div class="col-lg-3" >
					<h6>Web Development</h6>
					<p><%= sanitize Service.last.title %></p>
			</div>

			<div class="col-lg-3" >
					<h6>Web Development</h6>
					<p><%= sanitize Service.last.title %></p>
			</div>
	</div><br>

	<div class="row ">
		<div class="col-lg-3 ">
			<!-- <a class="btn  btn-primary" href="#">View All<i class="fa fa-arrow-right" aria-hidden="true"></i></a> -->
		</div>
		<div class="col-lg-3" >
				<h6>Design and discovery</h6>
				<p><%= sanitize Service.last.title %></p>
		</div>
		<div class="col-lg-3" >
				<h6>Design and discovery</h6>
				<p><%= sanitize Service.last.title %></p>
		</div>
		<div class="col-lg-3" >
				<h6>Design and discovery</h6>
				<p><%= sanitize Service.last.title %></p>
		</div>

	</div>

</div>


