<html>
<header>

<style>
   

.start{
	/*margin-left: 185;
	margin-right: 185;*/
}

.img_preview {
/*	margin-right: 30px;*/
    margin: 2em;
    height: 17.18rem;
    width: 31.25rem;
}

.absolute{
	position: relative;
	height: 31.25rem
	left: 12.5rem
}

.absolute1 {
    height: 9.37rem;
    margin-top: -13.87rem;
    z-index: 10;
    position: absolute;
    margin-top: -13.87rem;
    margin-left: 0.0625em;
    transition:1s;
}

.absolute1:hover{
	transform:scale(1.1);
	z-index:2;
}

.absolute2{
	height: 9.37rem;
    margin-top: -13.87em;
    z-index: 10;
    position: absolute;
    margin-top: -13.87em;
    margin-left: 25.5em;
    transition:1s;
}

.absolute2:hover{
	transform:scale(1.1);
	z-index:2;
}

.absolute3{
	height: 9.37rem;
    margin-top: -13.87em;
    z-index: 10;
    position: absolute;
    margin-top: -13.87em;
    margin-left: 50em;
    transition:1s;
}

.absolute3:hover{
	transform:scale(1.1);
	z-index:2;
}

#relative{
	position: relative;
	margin-left: 6.25rem;

}

.center{
	margin-left: 31.25em;
}

.space{
	margin-left: 12.5em;
}

.space1{
	margin-top: 3.125em;
	margin-left: 3.75em;
}

.space2{
	margin-left:31.25em;
	margin-top:-8.75em; 
}

.space3{
	margin-top: 2.5em;
}

.space4{
	margin-top: 3.125em;
}

.space5{
	margin-left: 12.5em;
}
.main{
	width:80.5625rem;
	height: 16.93rem;
	margin-left: 4.76em;
	margin-right: 4.68em;
}

.space6{
	margin-top:6em;
}

.space10{
	margin-top:4.56em;
/*	padding-top: 87px;*/

}
.space11{
	margin-top: 5.4375em;
	margin-left:1.875em;
	margin-right:1.875em;
}
.space13{
	height:15.625rem;
}

.inline-block{
	display:inline-block;
	margin-left: 1.875em;
}
.space14{
	margin-left:6em;
}
.space15{
	margin-top: 5.5625em;
	margin-left: 4.6875em;
}
.space16{
	margin-left:4.75em;
	margin-top: 2.56em;
}
.space17{
	margin-left:1.875em;
	margin-top: 2.5625em;
}

.space18{
	margin-top:5.5625em;
	
}
.space19{
	margin-left:31.25em;
/*	margin-right:647px;*/
}
.space20{
	margin-left:11.5625em;
}



</style>

<meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

  
</header>

<body>

<section>
	<div class="container main mb-2 ">
			<div class="row space6">
				<div class="col-lg-6 col-md-6 col-sm-6">
					<h2 ><%= BusinessGrowth.last.title %></h2>
					<p><%= BusinessGrowth.last.description %></p>
					<a class="btn  btn-primary mb-3" href="#">Talk to Our Expert </a>
				</div>
				<div class="col-sm-3 col-lg-3 col-md-3 img1">
					<%= image_tag(BusinessGrowth.last.image, style: 'width:30vw')%>
				</div>
			</div>
	</div>
</section>


<%= render "feature1" %>

<section>
	<div class="card space10"  style="background-color:#d9fcf7">
		<div class="row space11">
				<div class=" col-sm-8 col-md-8 absolute">
					<h3 class="start"><%= sanitize Startup.last.title %></h3>
					<p > <%= sanitize Startup.last.description %></p>
					<img alt="Assets" src="/assets/office-view 1 (2).png" width="1000" 
     				height="400" >
					<%#= image_tag(Startup.last.image, style:"width:150%", :class => "img_preview")%>
					<!-- <img alt="Assets" src="/assets/circle1.png"> -->
				</div>
		</div>	
				<div class="row">
					<secton>
					<div class="col-sm-4 col-md-4 absolute1"  style="background-color:#FFFFFF">
						<img alt="Assets" src="/assets/Vector.png"><h3 class="inline-block"><%= sanitize Startup.last.title1 %></h3>
						<p class="space14"><%= sanitize Startup.last.description1 %> </p>
					</div>
					 <div class="col-sm-4 col-md-4 absolute2"  style="background-color:#FFFFFF">
						<img alt="Assets" src="/assets/Vector.png"><h3 class="inline-block"><%= sanitize Startup.last.title2 %></h3>
						<p class="space14"><%= sanitize Startup.last.description2 %></p>
					</div> 
					 <div class="col-sm-4 col-md-4 absolute3"  style="background-color:#FFFFFF">
						<img alt="Assets" src="/assets/Vector.png"><h3 class="inline-block"><%= sanitize Startup.last.title3 %></h3>
						<p class="space14"><%= sanitize Startup.last.description3 %></p>
					</div> 
				</secton>
			  </div>		
	</div>
</section>

<section>
	<div class="space15">
		<h3 ><%= sanitize Work.last.title %></h3>
		<p ><%= sanitize Work.last.description %></p>
	</div>
</section>

<section>
	<div class="row ">
		<div class="col-sm-5  space16" style="background-color: #f5e3e1;">
			<h4><%= sanitize Work.last.title1 %></h4>
			<p><%= sanitize Work.last.description1 %></p>
		</div>

		<div class="col-sm-5 space17" style="background-color:#d4f5ab">
			<h4><%= sanitize Work.last.title2 %></h4>
			<p><%= sanitize Work.last.description2 %></p>
		</div>
	</div>
</section>

<section>
	<div class="row ">
		<div class="col-sm-5 space16" style="background-color:#d9fcf7">
			<h4><%= sanitize Work.last.title3 %></h4>
			<p><%= sanitize Work.last.description3 %></p>
		</div>

		<div class="col-sm-5 space17" style="background-color:#bbeefa">
			<h4><%= sanitize Work.last.title4 %></h4>
			<p><%= sanitize Work.last.description4 %>  </p>
		</div>
	</div>
</section>

<section>
	<div class="row space18">
	  <h3 class="space19"><%= sanitize OurWork.last.title %></h3>
	  <p class=""><%= sanitize OurWork.last.description %></p>
	</div>
</section>

<section>
	<div class="row space13" style="background-color:#c6f7ea">
	  	<div class="col-sm-6 space1" >
	  		
	  			<h4><%= sanitize OurWork.last.heading %></h4>
	  			<h5><%= sanitize OurWork.last.subheading %></h5>
	  			<p><%= sanitize OurWork.last.description1 %></p>
	  	</div>

	  	<div class="col-sm-5">
	  		<%= image_tag(OurWork.last.image, style:"width:90% ")%>
	  	</div>
	</div>
</section>




<%= render "footer" %>

</body>
</html