<style>


.start{
	margin-left: 185;
	margin-right: 185;
}

.img_preview {
/*	margin-right: 30px;*/
    margin: 30px;
    height: 275px;
    width: 500px;
}

.absolute{
	position: relative;
	height: 500px;
	left: 200px;
}

.absolute1 {
    height: 150px;
    margin-top: -222px;
    z-index: 10;
    position: absolute;
    margin-top: -222px;
    margin-left: 10px;
    transition:1s;
}

.absolute1:hover{
	transform:scale(1.1);
	z-index:2;
}

.absolute2{
	height: 150px;
    margin-top: -222px;
    z-index: 10;
    position: absolute;
    margin-top: -222px;
    margin-left: 408px;
    transition:1s;
}

.absolute2:hover{
	transform:scale(1.1);
	z-index:2;
}

.absolute3{
	height: 150px;
    margin-top: -222px;
    z-index: 10;
    position: absolute;
    margin-top: -222px;
    margin-left: 800px;
    transition:1s;
}

.absolute3:hover{
	transform:scale(1.1);
	z-index:2;
}

#relative{
	position: relative;
	margin-left: 100px;

}

.center{
	margin-left: 500px;
}

.space{
	margin-left: 200px;
}

.space1{
	margin-top: 50px;
	margin-left: 60px;
}

.space2{
	margin-left:550px;
	margin-top:-140px; 
}

.space3{
	margin-top: 40px;
}

.space4{
	margin-top: 50px;
}

.space5{
	margin-left: 200px;
}
.main{
	width:1289px;
	height: 271px;
	margin-left: 76px;
	margin-right: 75px;
}

.space6{
	margin-top:96px;
}

.space10{
	margin-top:73px;
/*	padding-top: 87px;*/

}
.space11{
	margin-top: 87px;
	margin-left:30px;
	margin-right:30px;
}
.space13{
	height:250px;
}

.inline-block{
	display:inline-block;
	margin-left: 30px;
}
.space14{
	margin-left:96px;
}
.space15{
	margin-top: 89px;
	margin-left: 75px;
}
.space16{
	margin-left:76px;
	margin-top: 41px;
}
.space17{
	margin-left:30px;
	margin-top: 41px;
}

.space18{
	margin-top:89px;
	
}
.space19{
	margin-left:500px;
/*	margin-right:647px;*/
}
.space20{
	margin-left:185px;
}
 /*//////// Media Queryies ///////////////////*/

/*big landscape, low resolution laptop and desktop */
/*@media (min-width:1200px){

}*/

/*@media only screen and (max-width: 1140px){
	
}*/
/*tablet, landscape, low resolution laptop and desktop*/
/*@media (max-width: 990px){
	.navbar-brand{
		width: 100%;
	}
}*/

/* portrait tablet, e-readers kindle, */
@media (max-width: 800px){

} 

/* smartphones, Android phones, landscape iPhone */
@media (max-width: 600px){

}

/* smartphones, portrait-iphone, portrait 480x320 phones (Android) */
@media (max-width:768px){
	.start{
		width:100%;
	}
} 
</style>


<body>

<div class="container main">
	<div class="row space6">
		<div class="col-lg-10 ">
			<h2 ><%= BusinessGrowth.last.title %></h2>
			<p><%= BusinessGrowth.last.description %></p>
			<a class="btn  btn-primary" href="#">Talk to Our Expert </a>
		</div>
		<div class="col-lg-2">
			<%= image_tag(BusinessGrowth.last.image, style: 'width:100%')%>
		</div>
	</div>
</div>

<!-- ===== -->
<%= render "feature" %>


<div class="card space10"  style="background-color:#d9fcf7">
	<div class="row space11">
			<div class=" col-lg-8 absolute">
				<h3 class="start"><%= sanitize Startup.last.title %></h3>
				<p > <%= sanitize Startup.last.description %></p>
				<%= image_tag(Startup.last.image, style:"width:100%", :class => "img_preview")%>
				<!-- <img alt="Assets" src="/assets/circle1.png"> -->
			</div>
	</div>	
			<div class="row">
				<div class="col-lg-4 absolute1"  style="background-color:#FFFFFF">
					<img alt="Assets" src="/assets/Vector.png"><h3 class="inline-block"><%= sanitize Startup.last.title1 %></h3>
					<p class="space14"><%= sanitize Startup.last.description1 %> </p>
				</div>
				 <div class="col-lg-4 absolute2"  style="background-color:#FFFFFF">
					<img alt="Assets" src="/assets/Vector.png"><h3 class="inline-block"><%= sanitize Startup.last.title2 %></h3>
					<p class="space14"><%= sanitize Startup.last.description2 %></p>
				</div> 
				 <div class="col-lg-4 absolute3"  style="background-color:#FFFFFF">
					<img alt="Assets" src="/assets/Vector.png"><h3 class="inline-block"><%= sanitize Startup.last.title3 %></h3>
					<p class="space14"><%= sanitize Startup.last.description3 %></p>
				</div> 
		  </div>
			
</div>

<div class="space15">
	<h3 ><%= sanitize Work.last.title %></h3>
	<p ><%= sanitize Work.last.description %></p>
</div>
<div class="row ">
	<div class="col-lg-5 space16" style="background-color: #f5e3e1;">
		<h4><%= sanitize Work.last.title1 %></h4>
		<p><%= sanitize Work.last.description1 %></p>
	</div>

	<div class="col-lg-5 space17" style="background-color:#d4f5ab">
		<h4><%= sanitize Work.last.title2 %></h4>
		<p><%= sanitize Work.last.description2 %></p>
	</div>
</div>


<div class="row ">
	<div class="col-lg-5 space16" style="background-color:#d9fcf7">
		<h4><%= sanitize Work.last.title3 %></h4>
		<p><%= sanitize Work.last.description3 %></p>
	</div>

	<div class="col-lg-5 space17" style="background-color:#bbeefa">
		<h4><%= sanitize Work.last.title4 %></h4>
		<p><%= sanitize Work.last.description4 %>  </p>
	</div>
</div>


<div class="row space18">
  <h3 class="space19"><%= sanitize OurWork.last.title %></h3>
  <p class=""><%= sanitize OurWork.last.description %></p>
</div>

<div class="row space13" style="background-color:#c6f7ea">
  	<div class="col-lg-6 space1" >
  		
  			<h4><%= sanitize OurWork.last.heading %></h4>
  			<h5><%= sanitize OurWork.last.subheading %></h5>
  			<p><%= sanitize OurWork.last.description1 %></p>
  	</div>

  	<div class="col-lg-5">
  		<%= image_tag(OurWork.last.image, style:"width:90% ")%>
  	</div>
</div>




<%= render "footer" %>

</body>
