<style>

	.space{
	height: 500px;
	left: 0px;
	top: 85px;
}

.space2{
	margin-top:50px;
/*	margin-right:188px;*/
	margin-left:400px;
	padding-top: 10px;
}
.space3{
	margin-top: 10px;
	margin-left: 310px;
/*	padding-bottom: 94;*/
}
.space4{
	margin-top: 40px;
}
.space5{
	margin-left:50px;
}

.space6{
	margin-left: 220px;
}



.hover1:hover{
	transform:scale(1.1);
	z-index:2;
	background-color:blue;
}
.flex{
	display:flex;
	margin-left: 50px;
}

.space8{
	margin-left:400px;
}

.inline{
	display:inline-block;
}
.size{
	width:40;
	margin-bottom: 40px;
}
.react-native{
	margin-top:68px;
}

</style>
<div class="card .space" style="background-color: #d9fcf7;">
	<div class="row " >	
		<div class="col-lg-12">	
			<h3 class="space2"><%= sanitize ReactNativedeveloper.last.title %></h3>
			<p class="space3"><%= sanitize ReactNativedeveloper.last.description %></span>  </p>
		</div>		
	</div>
</div>	


<div class="container space4">
	<div class="row">
		<div class="col-lg-6">
			<h3>We're a custom software company that meets every development need.</h3>
			<p>Pixoatic Solution provide custom React Native app development services as the fast and cost-effective option for mobile app projects. This technology allows using one team for both web and mobile applications dramatically improving cost-efficiency. React Native is championed by facebook and addopted by giants like walmart, Bloomberg and uber. Learn how the world famous apps were built with React Native.</p>
		</div>
		<div class="col-lg-6">
			<p>Learn now the world famous apps were built with React Native.</p>
			<div class="row">
				<div class="col-lg-2 mx-3"> <img alt="Assets" src="/assets/Rectangle 33.png" width=auto height="100"><span>Facebook</span></div>
				 <div class="col-lg-2 mx-3"><img alt="Assets" src="/assets/Rectangle 34.png" width=auto height="100"><span>Facebook</span></div>
				<div class="col-lg-2 mx-3"><img alt="Assets" src="/assets/Rectangle 35 (1).png" width=auto height="100"><span>Facebook</span></div>
				<div class="col-lg-2 mx-3"><img alt="Assets" src="/assets/Rectangle 36.png" width=auto height="100"><span>Facebook</span></div> 
			</div>
		</div>
	</div>
</div>


<div class="container space4">
	<div class="row">
		<h4>Our React Native development firm delivered a number of projects for customers all over the world. You can hire React Native developers for a project of any complexity.</h4>
	</div>
	<div class="row space4">
		<div class="col-lg-5" style="background-color: #f5ecd3;">
			<img alt="Assets" src="/assets/Capa-7.png" >
			<h6 class="inline" >React Native App Consultation</h6>
		</div>
		<div class="col-lg-5 space5" style="background-color: #f5ecd3;">
			<img alt="Assets" src="/assets/Capa-7.png" >
			<h6 class="inline">React Native Cross-Platform Development.</h6>
		</div>
	</div>
	<div class="row space4">
		<div class="col-lg-5" style="background-color: #f5ecd3;">
			<img alt="Assets" src="/assets/Capa-7.png" >
			<h6 class="inline">React Native App Consultation</h6>
		</div>
		<div class="col-lg-5  space5" style="background-color: #f5ecd3;">
			<img alt="Assets" src="/assets/Capa-7.png" >
			<h6 class="inline">React Native Cross-Platform Development.</h6>
		</div>
	</div>
	<div class="row space4">
		<div class="col-lg-5 " style="background-color: #f5ecd3;">
			<img alt="Assets" src="/assets/Capa-7.png" >
			<h6 class="inline">React Native App Consultation</h6>
		</div>
		<div class="col-lg-5  space5" style="background-color: #f5ecd3;">
			<img alt="Assets" src="/assets/Capa-7.png" >
			<h6 class="inline">React Native Cross-Platform Development.</h6>
		</div>
	</div>
</div>

<div class="container space4">
	<div class="row">
		<h3>Benefits of Hiring a React Native App Development Company.</h3>
		<p>Pixoatic Solutions is a react native app development company with raipid multi-platform development expertise, helping you overcome complecity through reusable cade, fast performance and speed, live reload, open-source, and robust developer tools.</p>
		<div class="row">
			<div class="col-lg-4 hover1">
				<h4>We Turn idea into Reality</h4>
				<p>With our expertise and years of experience in application development, the team of Pixoamatic leverages a variety of framework your application idea.</p>
			</div>
			<div class="col-lg-4 hover1">
				<h4>Bootsting Your Brand Reputation</h4>
				<p>Mobile appication have taken the world by storm, and staying up-to-date with your audience is the key to success. with our reliable app development services, we help you boost your brand reputation among the public.</p>
			</div>
			<div class="col-lg-4 hover1">
				<h4>Evolve Your Business</h4>
				<p>We don't just create an app for you. Our passion for learning and adopting applications that transform your business and evolve it by ensuring a fluid work dynamic.</p>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid" style="background-color:black; color:white;" >
	<div class="row space4 space6">
		<h3 class="react-native" >The React Native Process We Follow</h3>
		<p >Benefits Of Choosing Us As Your Development Company</p>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<h3>01</h3>
			<h3>Explore and Analyze</h3>
			<p >Get to know our client</p>
			<p >Sign an NDA and gather client requirement</p>
			<p >Propose our own solutions and lock the deal</p>
		</div>
		<div class="col-lg-4">
			<p style="color:#3ef7a7">Explore and Analyze</p><br>
			<p>Documentation and Scoping</p><br>
			<p>Designing and Wire Framing</p><br>
			<p>Development and Testing</p><br>
			<p>Deployment</p>
		</div>
		<div class="col-lg-3 size" style="background-color: #f2f0f0;">
		</div>
	</div>
</div>

<%= render "form" %>

<div class="space4">
	<h3 class="space8">Fequently Asked Question</h3>
	<p></p>
</div>

<%= render "list" %>

<%= render "footer" %>