<style>
.space{
/*	margin-top:31px;*/
/*	height:600px;*/
/*	margin-bottom: 94px;*/
/*position: absolute;*/
/*width: 1440px;*/
/*height: 500px;
left: 0px;
top: 85px;*/
/*margin-bottom:94px;*/
}

/*@media (min-width: 992px)
.col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
    height: 240px;
}*/

.space2{
	margin-top:83px;
	margin-left:188px;
	padding-left:90px;
}
.space3{
	margin-left: 189px;	
	padding-left:90px;
}

.space4{
/*	margin-top:79px;*/
padding-bottom:90px;
}

.ourtechnology{
	/*margin-top:4.9375em;
	margin-left:25.3125em;
	margin-right:25.3125em;*/
	text-align:center;
	padding-top:75px;
}
.ourtechnology1{
	text-align:center;
	padding-left:75px;
/*    margin-left: 21.9375em;*/
    
}

.space8{
	margin-top: 4.3125em;
}
.workflow{
	margin-top:90px;

}

.space10{
	text-align: center;
}

.space11{
	margin-left:1.875em;
	margin-right:1.875em;
}
.space12{
	margin-left:4.6875em;
}

.space13{
	margin-left:3.125em;
}
.space14{
	margin-left:13.75em;
}

.custom-software-service{
	margin-top:83px;
	margin-left:75px;
	margin-right:3px;
	margin-bottom:75px;
}
.IndustorLeaderSoftware{
	padding-top:75px;
}
.IndustorLeaderSoftware1{
	padding-top:10px;
}
.workflow{
	text-align:center;
}

.absolute{
	height: 9.37rem;
    z-index: 10;
    position: absolute;
    margin-top: -22.87em;
    margin-left: 2.0em;
    transition:1s;
}

.absolute1{
	height: 9.37rem;
    z-index: 10;
    position: absolute;
    margin-top: -22.87em;
    margin-left: 20.0em;
    transition:1s;
}

.absolute2{
	height: 9.37rem;
    z-index: 10;
    position: absolute;
    margin-top: -22.87em;
    margin-left: 40.0em;
    transition:1s;
}

.workflow1{
	padding-top:30px;
}

</style>
<div class="card " style="background-color: #d9fcf7;">
	<div class="row " >	
		<div class="col-lg-12">	
			<h3 class="space2"><%=  sanitize Customservice.last.title %></h3>
			<p class="space3"><%= sanitize Customservice.last.description %></p>
		</div>		
	</div>
</div>	

<%= render "feature1" %>

<div class="row custom-software-service">
	<div class="col-lg-5">
		<h4><p><%= sanitize CustomServicedeveloper.last.title %></p></h4>
		<p style="color:blue"><%= sanitize CustomServicedeveloper.last.description1 %></p>
	</div>

	<div class="col-lg-5">
		<p><%= sanitize CustomServicedeveloper.last.description2 %></p>
	</div>
</div>


<div class="row" style="background-color:#419157">
	<div class="col-lg-6">
		<img alt="Assets" src="/assets/Rectangle.png", style: width:18px>
	</div>

	<div class="col-lg-6" style="color:white;">
		<h5 class="IndustorLeaderSoftware"><%= sanitize IndustorLeaderSoftware.last.title %></h5>
		<p class="IndustorLeaderSoftware1"><%= sanitize IndustorLeaderSoftware.last.description %></p>
	</div>
</div>

<div class=" space4" style="background-color: #e1eddf">
	<h3 class="ourtechnology"><%= sanitize OurTechnology.last.title %></h3>
	<p class="ourtechnology1"><%= sanitize OurTechnology.last.subtitle %> </p>
	<div class="row">
		<div class="col-lg-3 space12">
			<h3><%= sanitize OurTechnology.last.title1  %></h3>
			<p><%=  sanitize OurTechnology.last.description1 %></p>
			<a class="btn  btn-primary" href="#">Talk to Our Expert</a>
		</div>
		<div class="col-lg-3 space13">
			<h3><%= sanitize OurTechnology.last.title2  %></h3>
			<p><%= sanitize OurTechnology.last.description2  %>
			</p>
			<a class="btn  btn-primary" href="#">Talk to Our Expert</a>
		</div>
		<div class="col-lg-3 space13">
			<h3><%= sanitize OurTechnology.last.title3  %></h3>
			<p><%= sanitize OurTechnology.last.description3 %> </p>
			<a class="btn  btn-primary" href="#">Talk to Our Expert</a>
		</div>
	</div>
</div>


<div class="container space8">
	<h3 class="workflow"><%= sanitize WorkFlow.last.title %></h3>
	<p><%= sanitize WorkFlow.last.description %></p>
	<div class="row  workflow">
		<div class="col-lg-3 ", style="background-color:#f7d2d2">
			<h6 class="workflow1"><%= sanitize WorkFlow.last.title1 %></h6>
			<p><%= sanitize WorkFlow.last.description1 %></p>
		</div>
		<div class="col-lg-3 space13", style="background-color:#1ff2ba" >
			<h6 class="workflow1"><%= sanitize WorkFlow.last.title2 %></h6>
			<p><%= sanitize WorkFlow.last.description2 %></p>
		</div>
		<div class="col-lg-3 space13", style="background-color:#a3eef7">
			<h6 class="workflow1"><%= sanitize WorkFlow.last.title3 %></h6>
			<p><%= sanitize WorkFlow.last.description3 %></p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 absolute">
			<img alt="Assets" src="/assets/wallet.png">
		</div>
		<div class="col-lg-4 absolute1">
			<img alt="Assets" src="/assets/technology.png">
		</div>
		<div class="col-lg-4 absolute2">
			<img alt="Assets" src="/assets/save-money.png">
		</div>
	</div>
</div>

<div class="container space8">
	<h3 class="space10">Our approach</h3>
	<p class="space14">Benefits of choosing Us AS Your Development Company</p>
	<div class="row">
		<div class="col-lg-8" >
			
			<%= sanitize OurOpprach.last.title %>
			
		</div>
	
		<div class="col-lg-4">
			<%= image_tag(Startup.last.image, style:"width:140%")%>
		</div>
	</div>
</div>

<%= render "footer" %>